body {
  font-family: Trebuchet;
  background-color: rgba(10, 184, 155, 0.253);
  padding: 20px;
  text-align: center;
}

#user-comments {
    height:40px;
}

.header {
  padding: 10px;
  text-align: center;
  background: azure;
}

.leftcolumn {
  float: left;
  width: 55%;
}

/* Add a card effect for each feature */
.card {
  background-color: azure;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.rightcolumn {
  float: right;
  width: 40%;
}

.nav_bar {
  margin: auto;
  padding: 5px 20px 5px 20px;
  background: #cccccc;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 60px;
}

.nav_bar a {
  text-decoration: none;
  color: black;
}

.nav_bar a:hover {
  text-decoration: underline;
  color: black;
}

h1 {
  font-size: 70px;
  line-height: .8;
  font-weight: bolder;
}

h4 {
  font-size: 25px;
  line-height: .5;
  font-weight: normal;
}

h3 {
    font-size: 25px;
    text-align: center;
}
h3{
    font-size: 25px;
    text-align: center;
}