body {
  font-family: Trebuchet;
  background-color: rgba(10, 184, 155, 0.253);
  padding: 20px;
  text-align: center;
}

#user-comments {
    height:40px;
}

.header {
  padding: 10px;
  text-align: center;
  background: azure;
}

.leftcolumn {
  float: left;
  width: 55%;
}

/* Add a card effect for each feature */
.card {
  background-color: azure;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.rightcolumn {
  float: right;
  width: 40%;
}

.nav_bar {
  margin: auto;
  padding: 5px 20px 5px 20px;
  background: #cccccc;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 60px;
}

.nav_bar a {
  text-decoration: none;
  color: black;
}

.nav_bar a:hover {
  text-decoration: underline;
  color: black;
}

h1 {
  font-size: 70px;
  line-height: .8;
  font-weight: bolder;
}

h4 {
  font-size: 25px;
  line-height: .5;
  font-weight: normal;
}

h3 {
    font-size: 25px;
    text-align: center;
}

#respond {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: left;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  background: fade(azure,.7);

  border: 1px solid lightgray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

#data-container {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: left;
}

h5 {
  font-size: 18px;
  line-height: .1;
  font-weight: bold;
}